[Unit]
Description=Rubik OS Cell Orchestrator
Documentation=https://rubik-os.org/docs
Before=sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/rubikd bootstrap
ExecStop=/usr/bin/rubikd shutdown
RemainAfterExit=yes

# Minimal footprint
MemoryMax=32M
CPUAccounting=yes
MemoryAccounting=yes
IOSchedulingClass=realtime
IOSchedulingPriority=0

[Install]
WantedBy=sysinit.target
