# Load partition table and file system modules
insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660
insmod udf

# Use graphics-mode output
if loadfont "${prefix}/fonts/unicode.pf2" ; then
    insmod all_video
    set gfxmode="auto"
    terminal_input console
    terminal_output console
fi

# Enable serial console
insmod serial
insmod usbserial_common
insmod usbserial_ftdi
insmod usbserial_pl2303
insmod usbserial_usbdebug
if serial --unit=0 --speed=115200; then
    terminal_input --append serial
    terminal_output --append serial
fi

# Platform detection
if [ "${grub_platform}" == 'efi' ]; then
    rubik_platform='UEFI'
elif [ "${grub_platform}" == 'pc' ]; then
    rubik_platform='BIOS'
else
    rubik_platform="${grub_cpu}-${grub_platform}"
fi

set default=rubik
set timeout=10
set timeout_style=menu

menuentry "Rubik OS Live/Lite (%ARCH%, ${rubik_platform})" --class rubik --class gnu-linux --class os --id 'rubik' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% quiet splash
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
}

menuentry "Rubik OS Live (Safe Mode)" --class rubik --class gnu-linux --class os --id 'rubik-safe' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% nomodeset x86_64.maxcpus=1
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
}

menuentry "Rubik OS Memory Test (memtest86+)" --class memtest86 --class tool {
    linux /boot/memtest86+/memtest
}

if [ "${grub_platform}" == 'efi' ]; then
    menuentry 'UEFI Firmware Settings' --id 'uefi-firmware' {
        fwsetup
    }
fi

menuentry 'System shutdown' --class shutdown --class poweroff {
    echo 'Shutting down...'
    halt
}

menuentry 'System restart' --class reboot --class restart {
    echo 'Rebooting...'
    reboot
}
