# Loopback config for booting Rubik OS ISO from GRUB

search --no-floppy --set=rubik_img_dev --file "${iso_path}"
probe --set rubik_img_dev_uuid --fs-uuid "${rubik_img_dev}"

if [ "${grub_platform}" == 'efi' ]; then
    rubik_platform='UEFI'
elif [ "${grub_platform}" == 'pc' ]; then
    rubik_platform='BIOS'
else
    rubik_platform="${grub_cpu}-${grub_platform}"
fi

set default=rubik
set timeout=10
set timeout_style=menu

menuentry "Rubik OS Live/Lite (%ARCH%, ${rubik_platform})" --class rubik --class gnu-linux --class os --id 'rubik' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% img_dev=UUID=${rubik_img_dev_uuid} img_loop="${iso_path}" quiet splash
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
}

menuentry "Rubik OS Live (Safe Mode)" --class rubik --class gnu-linux --class os --id 'rubik-safe' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% img_dev=UUID=${rubik_img_dev_uuid} img_loop="${iso_path}" nomodeset
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
}

menuentry 'System shutdown' --class shutdown --class poweroff {
    halt
}

menuentry 'System restart' --class reboot --class restart {
    reboot
}
